html,body{
    
    margin:0;
    padding:0;
    font-size: 55%;
    box-sizing:border-box;
}

header{
    
    border:white 1rem solid;
    height: 33rem;
    background-color:blue;

}

span{
    
    display:block;
    margin:0 auto;
    height: 45rem;
    padding:50px 0px 0px 0px;
    line-height: 49rem;
    background-color:olivedrab;
    width:70%;
    
}

img{
    
    display:block;
    margin:0 auto;
    width:auto;
    transform:translateY(30%/2);
    max-height: 40rem;

}

img:hover{
    
    background-color:aquamarine;
    border: solid lightblue;
    transition: background 2s;
/*    transform: rotate(1rad) translate(520px,20px) scale(1);*/
    

}

@media only screen
    and (max-width:784px){
        
        span{
            
            display:block;
            margin:0 auto;
            height:22rem;
            background-color:gold;
            
        }
        
        img{
            
            max-width:calc(100%/2);
            
        }
        
}














